<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post Up</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Post Up</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/User">{{player.username}}</a>
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <nav>
          <a href="/login">login</a>
        </nav>
        <nav>
          <a href="/signup">signup</a>
        </nav>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>

</body>

</html>