<div>
<section class="games">
  <h2 class="all-games">All Games</h2>
    <ul class="game-list">  
      <div class="row">
      {{#each game as |game|}}
      <li>
        {{> game-info game}}
      </li>
      {{/each}}
      </div>
    </ul>
  </div>
</section>


