{{#if game.length}}
<section>
  <h2>All Games</h2>
  <ul>
    {{#each game as |game|}}
    <li>
      {{> game-info game}}
    </li>
      <button type="button" class="attend-btn">Attend</button>
    <br>
    {{/each}}
  </ul>
</section>
{{/if}}

