<div class="home-title">
    <h1 class="h1-home-title">Welcome to Post Up!</h1>
</div>

<div class="home-phrase">
    <h3 class="h3-home-phrase">Your personal guide to pick up games near you</h3>
</div>
