<form class="signup-form">
  <div>
    <label class="username-signup" for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label class="email-signup" for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label class="password-signup" for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<script src="/javascripts/signup.js"></script>