<section>
  <h2>Create New Game</h2>

  <form class="new-game-form">
    <div>
      <label for="game-title">Title</label>
      <input type="text" id="game-title" name="game-title" />
    </div>
    <div>
      <label for="game-type">Type</label>
      <input type="text" id="game-type" name="game-type" />
    </div>
    <div>
      <label for="game-date">Date</label>
      <input id="game-date" name="game-date" />
    </div>
    <div>
      <label for="game-time">Time</label>
      <input id="game-time" name="game-time" />
    </div>
    <div>
      <label for="game-venue">Location</label>
      <input type="text" id="game-venue" name="game-venue" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

<script src="/javascript/add-game.js"></script>

