* {
    box-sizing: border-box;
}
  
body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
}

button {
    background-color: #1e5d6d;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: #1c98ad;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    padding: 0 2%;
    margin-right: 2em;
}

.dashboard-nav a {
    padding: 0 1%;
    margin-right: 1em;
    color: #1e5d6d;
    text-decoration-line: none;
}

header h1 a {
    font-size: 1em;
    text-decoration-line: none;
    color: #1e5d6d;
}

main {
    flex: 1;
    padding: 2% 4%;
}

footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
}

textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.home-title {
    display: flex;
    justify-content: center;
}

.home-phrase {
    display: flex;
    justify-content: center;
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
}

.btn-no-style:hover {
    background: none;
    color: #3486eb;
}

.post {
    margin-bottom: 2%;
    line-height: 150%;
}

.post .game-title {
    font-style: italic;
    font-size: 120%;
    font-weight: bold;
}

.post .meta {
    font-weight: lighter;
}

.game-list {
    list-style-type: none;
}